*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
hr{
  border: 0;
  border-top: 1px solid #F6F6F6;
  border-bottom: 1px solid #F6F6F6;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
ul{
  list-style: none;
}
img{
  border-radius: 20px;
  box-shadow: 10px 10px #023246;
}
body{
  background-color: #D4D4CE;
}

/*Nav Bar*/
nav ul{
  font-family: "Archivo", sans-serif;
  font-size: 25px;
  list-style: none;
  height: 75px;
  text-align: center;
  color: #F6F6F6;
  background-color: #181A18;
  line-height: 75px;
}

nav li{
  /*Horizontal list*/ display: inline;
}

.nav-right{
  margin-left: 30px;
  font-weight: 200;
}
/*End Nav Bar*/

/*Header*/
h1{
  font-family: "Archivo", sans-serif;
  font-size: 55px;
  font-weight: 700;
}


header{
  border-radius: 30px 30px 0 0;
  padding-left: 10px;
  padding-right: 100px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #13131B;
  height: 520px;
  column-count: 2;
  column-width: 100px;
  -moz-column-width:100px; /* Firefox */
  -webkit-column-width:100px; /* Safari and Chrome */
  break-inside: avoid;
  padding-top: 80px;
  color: #F6F6F6; 
  text-align: center;
  box-shadow: 0 0 5px 0 #13131B;
}
header ul{
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
}
header img{
  box-shadow: 10px 10px #F6F6F6;
}
/*Grey background*/
#grey-stripe{
  padding: 0;
  background-color: #232B2B;
  padding-top: 40px;
}
/*End Header*/

/*main*/
main{
  background-color: #13131B;
  color: #F6F6F6;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  box-shadow: 0 0 5px 0 #13131B;
}
h2{
  font-family: "Archivo", sans-serif;
  font-size: 35px;
  font-weight: 400;
  text-align: left;
  padding-top: 15px;
}
p{
  line-height: 35px;
  color: #D4D4CE;
}
main hr{
  margin-left:10px;
}
.photo-set{
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #F6F6F6;
	box-shadow: 100px 0 #F6F6F6, -100px 0 #F6F6F6;
}
main img{
	margin: 0 40px 0 40px;
}
/*End main*/

/*Footer*/
footer{
  background-color: #13131B;
  color: #F6F6F6;
  height: 150px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 35px;
  font-weight: 400;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 0 5px 0 #13131B;
}
footer p{
  line-height: 150px;
  color: #F6F6F6;
}
/*End Footer*/